<section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>
          Airline Passengers
        </h3>
        <hr>
        <p>
          Total chekedout in<strong>{{count}}/{{count}}</strong>
        </p>
        <p *ngFor="let travler of Passengerarr" id="travler.id">
          {{travler.fullname | titlecase}}
        </p>
      </div>
    </div>
    <app-passenger-card [getpasengerarr]="Passengerarr" (snedarrtoparent)="getdatatochid($event )"
  (sentPassId)="getID($event)"  ></app-passenger-card>
  </div>
</section>